$contrast_background_color:#000000;
$contrast_text_color:#ffffff;

.main{
    min-height: 100vh;
    position: relative;
    padding-bottom: 5rem; /* this is given just to prevent the
     footer to hide the content, now the footer sits in the padding area of the container*/
}

.post__featured-image{
    margin: 1em 0px;
}

.posts__meta{
    .meta{
        margin-top: 1rem !important;
    }
}

.comments{
    .comment div{
        padding:0.2rem 0px;
    }
    .comment .comment__user_name h3{
        display: inline-block;
    }
}

.comment_form{
    #comment_form__comment{
        resize: none;
    }
}

.footer{
    height: 4rem; /* height has to be fixed so that the footer cannot hide the content*/
    width: 100%;
    background-color: $contrast_background_color;
    color: #ffffff;
    vertical-align: middle;
    position: absolute;
    bottom: 0px;
    p{
        text-align: center;
        margin: auto;
        line-height: 4rem;
    }
}
